extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{title}
    div.Message
      div.Title
        h3 Hey! Guess what?
        h1 Your Random Number is:
          span.Details=" " + test
        pre.Details This ran on pod: #{hostname}.  Ok, now go check the logs...
    div.NavButtons
      a(href="/")
        div.NavButton Click for Fun!